---
layout:     page
title:      portfolio
navgroup:   "main"
navorder:   4
---
{% capture project_path %}{{ site.baseurl }}{{ site.projectimagepath }}{% endcapture %}
{% assign projects = site.projects | sort: listing-priority %}

{% for project in projects %}

<a class="project-feature" href="{{ project.url }}">
    <img class="project-feature__image" src="{{ project.feature | prepend: project_path }}" alt="{{ project.title }}">
    <div class="project-feature__details">
        <h3 class="project-heading">{{ project.title }}</h3>
    </div>
</a>

<!--<header class="header page-header">-->
    <!--<h3 class="project-heading">{{ project.title }}</h3>-->
    <!--<span class="small-caps">summary</span><br>-->
    <!--<p>{{ project.summary }}</p>-->
<!--</header>-->

<!--<div class="grid__row">-->
    <!--<div class="grid__column one-half">-->
        <!--<span class="small-caps">client</span><br>-->
        <!--<span>{{ project.client }}</span>-->
    <!--</div>-->
    <!--<div class="grid__column one-half">-->
        <!--<span class="small-caps">role</span><br>-->
        <!--<ul class="list--inline">-->
            <!--{% for role in project.roles %}-->
            <!--<li>-->
                <!--{{ role.role }}-->
            <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="grid__row">-->
    <!--<div class="grid__column one-half">-->
        <!--<span class="small-caps">tools</span><br>-->
        <!--<ul class="list--inline">-->
            <!--{% for tool in project.tools %}-->
            <!--<li>-->
                <!--{{ tool.tool }}-->
            <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<ul>-->
    <!--{% for tag in project.tags %}-->
    <!--<li>-->
        <!--{{ tag.tag }}-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

{% endfor %}
