---
layout:     page
title:      portfolio
navgroup:   "main"
navorder:   4
---
{% capture project_path %}{{ site.baseurl }}{{ site.projectimagepath }}{% endcapture %}

{% for project in site.projects %}

<h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
<span>{{ project.client }}</span>
<p>{{ project.summary }}</p>

<ul>
    {% for tag in project.tags %}
    <li>
        {{ tag.tag }}
    </li>
    {% endfor %}
</ul>

<h5 class="heading heading--subtitle">tools</h5>
<ul>
    {% for tool in project.tools %}
    <li>
        {{ tool.tool }}
    </li>
    {% endfor %}
</ul>

<h5 class="heading heading--subtitle">roles</h5>
<ul>
    {% for role in project.roles %}
    <li>
        {{ role.role }}
    </li>
    {% endfor %}
</ul>

<div>
    <img src="{{ project.feature | prepend: project_path }}" alt="{{ project.title }}">
</div>

{% endfor %}
