//
//  Grayscale
$white:   #fff;
$black:   #000;
$gray__01:  mix($black, $white, 10%);
$gray__02:  mix($black, $white, 20%);
$gray__03:  mix($black, $white, 30%);
$gray__04:  mix($black, $white, 40%);
$gray__05:  mix($black, $white, 50%);
$gray__06:  mix($black, $white, 60%);
$gray__07:  mix($black, $white, 70%);
$gray__08:  mix($black, $white, 80%);
$gray__09:  mix($black, $white, 90%);
//
//  Colors
$default__color:         $gray__01;
$primary__color:         #3662ad;
$accent__color:          #f36c0a;
$inverse__color:         mix($primary__color, $gray__08, 20%);
//
//  States
$state--success:         #5cb85c !default;
$state--info:            #5bc0de !default;
$state--warning:         #f0ad4e !default;
$state--danger:          #d9534f !default;
//
//  Syntax Palette
$s-background:      #2d2d2d;
$s-currentline:     #393939;
$s-selection:       #515151;
$s-foreground:      #ccc;
$s-comment:         #999;
$s-red:             #f2777a;
$s-orange:          #f99157;
$s-yellow:          #fc6;
$s-green:           #9c9;
$s-aqua:            #6cc;
$s-light-blue:      #9cc;
$s-blue:            #69c;
$s-purple:          #c9c;
