//
//  Units
$site-footer__x: $global__x;
$site-footer__y: $global__y;
//
//  Base
.site-footer {
    font-family: 'Mark', sans-serif;

    margin-top: rhythm(4);
    padding-top: rhythm(2);
    padding-bottom: rhythm(4);

    background-color: tint($neutral__color, 90%);
}
