//
//  Units
$site-nav__x:      $global__x;
$site-nav__y:      ($global__y * 4);
$site-nav__bg:     $primary__color;
$site-nav__color:  $primary__color;
//
//  Base
.site-nav {
    @include small-caps;

    font-family: 'Mark', sans-serif;
    font-weight: 700;

    margin-bottom: rhythm(3);
    margin-top: rhythm(1);
    color: $neutral__color--light;


    .nav__item {
        opacity: 1;
        transition: opacity 0.35s ease-in-out;
    }

    .nav__item:hover,
    .nav__item:active {
        opacity: 0.75;
    }

    .nav__item--active {
        color: $primary__color;
    }
}
