//
//  Var
$grid__x:  $global__x;
$grid__y:  $global__y;
//
//  Base
.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 $grid__x;
}

.row {
    @include clearfix;
}

.col {
    float: left;
}

.col--1 {
    width: percentage(1 / 6);
}

.col--2 {
    width: percentage(2 / 6);
}

.col--4 {
    width: percentage(3 / 6);
    padding-right: percentage(1 / 6);
}
